/* Write your CSS here! */
html {
    font-family:'Courier New', Courier, monospace;
    padding: 50px;
}

head {
    align-content: center;
}

#mainHeading {
    color:red;
}

body {
    margin:8px; 
    display:block;
}

p {
    margin: 10px, 50px;
}

.funParagraph {
    color:green;
}

div {
    padding: 10px 50px;

}

#underline {
    text-decoration: underline;
    align-items: center;
}

h5.time {
    text-align-last: right;
}